/* Bloque principal */
.contact {
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}

.contact__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.contact__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

.contact__label {
  position: absolute;
  font-size: 1rem;
  top: 1rem;
  left: 0.5rem;
  transition: top 0.2s ease-in-out, font-size 0.2s ease, color 0.2s ease, background-color 0.2s ease;
  cursor: text;
  padding: 0.15rem;
}

.contact__input {
  border: none;
  border-bottom: 2px solid var(--color-gold-light);
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  background: var(--gradient-secondary);
}

.contact__form-group:focus-within .contact__label,
input:valid ~ label,
.contact__input:not(:placeholder-shown) ~ label {
  top: -0.5rem;
  font-size: 0.85rem;
  background-color: var(--color-text-light);
  color: var(--color-gold-light);
}

.contact__textarea {
  border: none;
  border-bottom: 2px solid var(--color-gold-light);
  border-radius: 0.25rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  resize: none;
  min-height: 8rem;
  background: var(--gradient-secondary);
}

.contact__textarea:not(:placeholder-shown) ~ label {
  top: -0.5rem;
  font-size: 0.85rem;
}

.contact__button {
  --text-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--text-size);
  height: calc(1.5rem + 1.125rem);
  background: var(--gradient-tertiary);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-text-light);
  cursor: pointer;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out,
    color 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.contact__button:hover,
.contact__button:focus {
  --text-size: 1.25rem;
  background: var(--gradient-tertiary-reverse);
  border: 3px solid var(--color-gold-dark);
}

@media (width >= 768px) {
  .contact__button {
    width: 10rem;
  }
}
