.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0; /* Asegúrate de agregar esto */
  z-index: 1000;
  background: var(--gradient-background);
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--color-text-light);
  font-weight: 700;
}

.header__logo-icon {
  width: 2rem;
  height: 2rem;
  background: var(--gradient-tertiary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-link {
  color: var(--color-text-light);
  text-decoration: none;
}

.header__menu-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--color-gold-light);
  cursor: pointer;
}

.header__menu-toggle:hover {
  color: var(--color-text-light);
}

.header nav {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: 10000;
}

.header nav.nav--active {
  display: flex;
  background: var(--gradient-secondary);
}

.header__menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.header__menu-link {
  color: var(--color-text-dark);
  text-decoration: none;
}

.header__menu-link:hover {
  color: var(--color-gold-light);
}

@media (width >= 768px) {
  .header {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

@media (width >= 1024px) {
  .header {
    padding-right: 4rem;
    padding-left: 4rem;
  }

  .header__menu-toggle {
    display: none;
  }

  .header nav {
    display: flex;
    position: initial;
  }

  .header nav.nav--active {
    background: none;
  }

  .header__menu {
    flex-direction: row;
    padding: 0;
  }

  .header__menu-link {
    color: var(--color-gold-light);
  }

  .header__menu-link:hover {
    color: var(--color-text-light);
  }
}

@media (width >= 1024px) {
  .header {
    padding: 1.5rem 6rem;
  }
}
