:root {
  --color-gold-light: #f0af24;
  --color-gold-dark: #d69404;
  --color-gold-light-transparent: rgba(240, 175, 36, 0.5);
  --color-background: #343434;
  --color-gradient-secondary: #232323;
  --color-gradient-tertiary: #e5e5e5;
  --color-gradient-quaternary: #f5f5f5;
  --color-text-light: #e5e5e5;
  --color-text-dark: #343434;
  --gradient-background: linear-gradient(
    90deg,
    var(--color-background) 0%,
    var(--color-gradient-secondary) 100%
  );
  --gradient-secondary: linear-gradient(
    90deg,
    var(--color-gradient-tertiary) 0%,
    var(--color-gradient-quaternary) 100%
  );
  --gradient-tertiary: linear-gradient(
    90deg,
    var(--color-gold-light) 0%,
    var(--color-gold-dark) 100%
  );
  --gradient-tertiary-reverse: linear-gradient(
    270deg,
    var(--color-gold-light) 0%,
    var(--color-gold-dark) 100%
  );
}
